<h2>Add a new Car</h2>
<article class="listing">
  <div class="details">
    <div class="detail title">
      <label>Title</label>
      {{input type="text" value=car.title }}
    </div>
    <div class="detail fuel ">
      <label>Fuel</label>
      {{input type="text" value=car.fuel}}
    </div>
    <div class="detail price">
      <label>Price</label>
      {{input type="number" value=car.price}}
    </div>
    <div class="detail newCar">
      <label>New Car</label>
      {{input type="checkbox" checked=newCar}}
    </div>
    {{#unless newCar}}
      <div class="detail mileage">
        <label>Mileage</label>
        {{input type="number" value=car.mileage}}
      </div>
      <div class="detail firstRegistration">
        <label>Date</label>
        {{pikaday-input  onSelection=(action "bindDate") format="YYYY-MM-DD"}}
      </div>
    {{/unless}}
    <div class="detail action">
      <button class="button ember-view" {{ action "saveCar"}}>Save</button>
    </div>
  </div>
</article>